header {
    background-color: var(--primaryColor);
}


h1 {
    text-align: left;
    font-size: 5rem;
    letter-spacing: -3px;
    text-shadow: 6px 6px #f2cee6;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #383435;
}